nav > ul > li {
  margin-right: 20px;
  display: inline;
  /* text-align: center; */
}
nav > ul{
    text-align: center;
}

nav a {
    text-decoration: none;
}

main{
    text-align: center;
}

footer {
  text-align: center;
}

